*{
    margin: 0px; padding: 0px;
    font-family: 'Montserrat', sans-serif;  
    max-width: 100%; 
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%; max-height: 100%;
}

/*-- navigation bar --*/
.navbar{
    background-color: #0a0910;
    height: 76px;
    padding: 0;
    margin: 0;  
}

.credit{
    float: left;
    margin: 29px 0 0 35px;
}
.navitem{
    padding-right: 20px;
}

.navitem li{
    display: inline-block;
    padding-top: 15px;
    margin-right: 15px;
}

.navitem a{
    color: white;
    display: block;
    padding: 10px 10px;
    font-size: 20px;
    transition: 1s;
    border-radius: 10px;
    
}

.navitem a:hover{
    background-color: white;
    display: block;
    color: #0a0910;
}

.navbar ul{
    text-align: right ;
}

.landing{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)) ,url('../../images/error.gif') no-repeat;
    background-position: center 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    width: 100%;
    height: 100vh;

    overflow-y: auto;
}

.landingtext{
    margin: 200px auto;
}

.stationimage{
    text-align: center;
}

.stationimage img{
    width: 350px; height: 350px;
    margin-top: 63px;
}

#stationh3 {
    text-align: center ;
    margin-top: 30px;
    color: white;
    font-size: 24px;
}

#stationh1 {
    text-align: center ;
    margin-top: 5px;
    color: white;
    font-size: 48px;
}

@media only screen and (max-width:1054px) {
    #stationh1{
        font-size: 40px;
    }
    .navitem a{
        font-size: 16px;
    }
    .navbar{
        height: 64px;
    }

    .navitem li{
        margin-right: 5px;  
    }
}